/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");

:root {
  /* color */
  --text-color: #06253d;
  --green-color: #05ce91;
  --white-color: #f5f5f5;

  /* font */
  --main-font: "Plus Jakarta Sans", sans-serif;

  /* font weight */
  --regular-font: 400;
  --medium-font: 600;
}

body,
button,
input,
textarea {
  font-family: var(--main-font);
}

header {
  z-index: 1000;
}

a.active {
  font-weight: var(--medium-font);
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--green-color);
}

.btn_daftar {
  color: var(--text-color);
  border: 1px solid var(--green-color);
  border-radius: 45px;
}

.btn_masuk:hover,
.btn_daftar:hover {
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 45px;
}
